* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-noto-sans-jp);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}
h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

.ramdom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 200px;
  height: 180px;
  padding: 20px;
  border: 1px solid black;
}
.team {
  font-size: 1.1rem;
  font-weight: 700;
  text-align: center;
}  
.player {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}
.stats {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

button {
  padding: 20px 40px;
  border: none;
  outline: none;
  background-color: #252525;
  color: #fff;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {

  h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 1rem;
    margin-bottom: 10px;

  }
  .ramdom {
    gap: 10px;
    padding: 15px 0;
  }

  .box {
    width: 160px;
    height: 115px;
    padding: 10px;
    gap: 5px;
  }
  .team {
    font-size: 0.9rem;
  }  
  .player {
    font-size: 0.8rem;
  }
  .stats {
    font-size: 0.8rem;

  }
  button {
    padding: 8px 30px;
    font-size: 1rem;
  }
}